<?xml version="1.0"?>

<configuration>
	<system.diagnostics>

		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="c:\dev projects\uia\proyectov1\backend\wcfproyecto\web_messages.svclog"

			type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"

			name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">

				<filter type="" />
			</add>
			<add initializeData="c:\dev projects\uia\proyectov1\backend\wcfproyecto\web_tracelog.svclog"

			type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"

			name="ServiceModelTraceListener" traceOutputOptions="Timestamp">

				<filter type="" />
			</add>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<!-- For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367. The following attributes can be set on the <httpRuntime> tag. <system.Web> <httpRuntime targetFramework="4.8" /> </system.Web> \-->
	<system.web>

		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>

		<diagnostics performanceCounters="Default">
			<messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
		</diagnostics>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>

		<modules runAllManagedModulesForAllRequests="true" />
		<!-- Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true. Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web. \-->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<connectionStrings>
		<add name="UsersVETEntities" connectionString="metadata=res://*/Login.csdl|res://*/Login.ssdl|res://*/Login.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KENDALL-PC;initial catalog=UsersVET;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="VeterinariaDBEntities" connectionString="metadata=res://*/VETModelo.csdl|res://*/VETModelo.ssdl|res://*/VETModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KENDALL-PC;initial catalog=VeterinariaDB;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>